@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-outfit: "Outfit", sans-serif;
}
body {
  @apply font-outfit;
}
.slider-bg::before {
  position: absolute;
  content: "";
  inset: 0;
  z-index: 10;
  background-image: url("/images/slider-bg.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: 0;
}
